
.card img{
  max-height: 150px;
}

.card .description{
  color: #7f7f7f;
}
.price{
  font-weight: bold;
  font-size: 16pt;
}
.card{
  margin: 10px;
}

.row{
  width: 100%;
  margin: 10px auto;
}

#intro{
  width: 1000px;
  margin: 0 auto;
}

@font-face {
  font-family: "CustomFont";
  src: url("https://yoursite.com/css/fonts/CustomFont.eot");
  src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
  url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
  url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
  }

.h1top{
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
}
