<div class="col-sm-6 col-md-4">
    <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="https://www.ibs.it/images/2570160928851_0_0_536_0_75.jpg" alt="Card image cap" class="img-responsive">
     <div class="card-body">
        <h5 class="card-title">Card title</h5>
     <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     <div class="clearfix">
         <div class="price pull-left">
            $9.90
        </div>
    </div>
    <a href="#" class="btn btn-success pull-right">Add to cart</a>
  </div>
    </div>
     </div>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.ibs.it/images/2570160928851_0_0_536_0_75.jpg" alt="Card image cap" class="img-responsive">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
        <div class="price">
            $9.90
        </div>
    </div>
    <a href="#" class="btn btn-success pull-right">Add to cart</a>
  </div>
</div>